<div class="breadcrumbtop"></div>
<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th class="title-body">Title</th>
      <th class="title-body">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td id="goto-show"><%= link_to 'Show', post %></td>
        <td id="goto-edit"><%= link_to 'Edit', edit_post_path(post) %></td>
        <td id="goto-destroy"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
<div class="breadcrumbbottom"></div>