// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#goto-show {

	width: 200px;
	text-align: right;

}

th.title-body {
	font-size: 18px;
	
}

input.submit-b {
	background-color: #279;
	
}

textarea.comment-input {

}
